.item {
  list-style-type: none;
  padding: 1rem;
  color: #333;
  border: 1px solid #cb0000;
  background: linear-gradient(to right, #fec3cf 0%, #eee 8%);
  background-color: #eee;
}

.title {
  margin-top: 0;
  color: #cb0000;
}

.content {
  margin-bottom: 2rem;
}

.time {
  font-weight: bold;
}
