li {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #dd1919;
  background-color: #fff;
}

li:last-child {
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  color: #dd1919;
}

footer, address {
  text-align: right;
}

time {
  font-weight: bold;
}